# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/

.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignorar build de Android pero NO build/web (necesario para Render)
/build/app/
/build/device_info_plus/
/build/flutter_assets/
/build/flutter_native_splash/
/build/flutter_pdfview/
/build/path_provider_android/
/build/share_plus/
/build/syncfusion_flutter_pdfviewer/
/build/url_launcher_android/
/build/flutter/
#/build/